//footer//////////////////////////////////////////////////////////////////////////////////
footer {
  bottom: 0;
  height: auto;
  background: #dfe0de;

  .container {
    .row {
      .col-md-12 {
        color: black;
      }
    }
  }
}